.yelp-theme {
  background-color: #d32423;
  color: #fff;
}

.yelp-logo {
  height: auto;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.restaurant-list-item {
  cursor: pointer;
}

.card-header {
  background-color: #d32423 !important;
  color: #fff;
}

.card-body {
  background-color: rgb(248, 247, 247);
  color: black;
}
